.container {
  background-color: #ffffff;
}

.timeline {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.tag {
  text-align: center;
  width: 100px;
  margin-left: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 26px;
  line-height: 60px;
  height: 60px;
  color: #ffffff;
  border-radius: 30px;
}
