
.scrollview {
  margin-top: 80px;
  background-color: #ffffff;
}

// top-tools
.top-tools-button {
  position: fixed;
  z-index: 9999;
  bottom: 40px;
  right: 20px;
  margin-right: 10px;
  text-align: center;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 60px;
  color: #ffffff;
  background-color: #46a430;
}
// end

