

@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/textarea.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";
@import "~taro-ui/dist/style/components/list.scss";

.form.at-form {
  margin-bottom: 20rpx;
}
.button.at-button {
  width: 710rpx;
  margin-top: 40rpx;
}