.pickerCity {
  height: 88rpx;
  margin-left: 22rpx;
  margin-right: 32rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.picker-title {
  font-size: 32rpx;
  color: #333;
}

.picker-value {
  font-size: 32rpx;
  color: #333;
}
